.cart-card{   
    display: flex;
    height: auto;
    width: 90%;
    border-top: solid #b4b4b4;
    border-bottom: solid #b4b4b4;
    background-color: white;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-card img{
    width: 20%;
}


.cart-card-title{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    color: black;
    align-items: center;
    font-weight: 600;
}

.cart-card-price{
    display: flex;
    padding: 50px;
    padding: 5px;
    color: black;
    width: auto;
    align-items: center;
    font-weight: 600;

}

.cart-card-quantity{
    display: flex;
    justify-content: center;
    color: black;
    width: auto;
    align-items: center;
    font-weight: 600;
}

.bin-icon{
    position: relative;
    top: 5vw;
    color: black;
    cursor: pointer;
    padding: 20px;
    font-size: 3vw;
}

