.checkout{
    padding-bottom: 100px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
}

.checkout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #FAFAFA;
    width: 70%;
    }

.checkout-headers{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
    width: 90%;
    background-color: white;
    color: grey;
    text-align: center;
    padding: 5px;
    font-weight: 200px;
}

.cart-heading-item{
    width: 200%;
}
.cart-heading-title{
    width: 420%;
}

.checkout-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}



.checkout-container h2{
    color: grey;
    font-size: 15px;
    width: 100%;
}

.submit-btn{
    height: 40px;
    width: 150px;
    position: relative;
    font-weight: 600;
    left: 300px;
    top: 20px;
    background-color: #FFD814;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: 250px;

}

.total-price{
    height: 40px;
    width: 150px;
    position: relative;
    font-weight: 600;
    left: 300px;
    top: 20px;
    color: black;
    border: none;
    margin-right: 250px;
    
    }


.modal-words{
height: 200px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.modal-btn{
    width: 150px;
    margin-top: 40px;
    background-color: #5264C3;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-weight: 500;
}

.modal-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}