*{
    margin: 0;
    padding: 0;
}

.nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        color: #3A4895;
        width: 100%;
        background-color: #FAFAFA;
}


h1{
    padding-left: 30px;
}

.links{
    color: white;
    
}

.basketIcon{
    font-size: 2em;
    padding-right: 10px;
    cursor: pointer;
}
