*{
    margin: 0;
    padding: 0;
}

.nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        color: #3A4895;
        width: 100%;
        background-color: #FAFAFA;
}


h1{
    padding-left: 30px;
    color:#3A4895;
}

.links{
    color: white;
    
}

.basketIcon{
    font-size: 2em;
    right: 59px;
    cursor: pointer;
    color: #3A4895;
    position: absolute;
}

.basketCircle{
    font-size: 17px;
    color: red;
    position: absolute;
    right: 64px;
    top: 25px;
}

.item-number{
    position: absolute;
    right: 67px;
    top: 21px;
}